<!--
@Author: valentin
@Date:   2016-05-16T23:27:26+02:00
@Last modified by:   valentin
@Last modified time: 2016-05-17T00:20:41+02:00
-->

{% extends "bootstrap/base.html" %}

{% block title %}Twitter tagger{% endblock %}


{% block content %}
  <h1>Twitter tagger</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Tweet</th>
        <th>Depressed ?</th>
      </tr>
    </thead>
    <tbody>
	{% for tweet in tweets %}
      <tr>
        <td>{{ tweet["text"] }}</td>
		<td>
			<button type="button" class="btn btn-success" status="negative" tid='{{ tweet["id"] }}'>Négatif</button>
			<button type="button" class="btn btn-danger" status="positive" tid='{{ tweet["id"] }}'>Positif</button>
		</td>
      </tr>
	{% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
	<script type="text/javascript" charset="utf-8">

		$(document).ready(function(){
			namespace="/tweets";
			var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

			$('button').click(function() {
				$(this).parent().parent().hide();
				if($(this).attr("status") == "positive") {
					socket.emit('add-positive', $(this).attr("tid"));
				} else {
					socket.emit('add-negative', $(this).attr("tid"));
				}
			});


		});
	</script>

{% endblock %}
